.flip-card-container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: fixed;
  z-index: 10;
}

.flip-card-container.scrolled {
    width: 25vw;
    height: 90vh;
}

.flip-card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  will-change: transform;
}

.flip-card-container.flipped .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .flip-card{
    width: 90vw;
  }
}